html {
	background: #DFF5FC;
	font-size: 10px;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.keys {
	display: flex;
	flex: 1;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

.key {
	border: 0.4rem solid black;
	border-radius: 0.5rem;
	margin: 1rem;
	padding: 1rem 0.5rem;
	font-size: 1.3rem;
	transition: all 0.7s ease;
	width: 10rem;
	text-align: center;
	color: #FFFFFF;
	background: rgba(0,0,0,0.4);
	text-shadow: 0 0 0.5rem #000000;
}

.playing {
	transform: scale(1.2);
	border-color: #DED939;
	box-shadow: 0 0 1rem #DED939;	
}

kbd {
	display: block;
	font-size: 4rem;
}

.sound {
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	color: #DED939;
}